version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: postgres_db
    restart: unless-stopped
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:7.0
    container_name: mongo_db
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: rastreio_telemetria
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data:
